<!DOCTYPE html>
<html lang="en">
  <head>
    <title>#popscope</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Bringing the night sky down to Earth.">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon-precomposed" href="/static/images/app/icon.jpg">
    <link href="/static/images/app/apple-touch-startup-image-320x480.png"
          media="(device-width: 320px) and (device-height: 480px)
             and (-webkit-device-pixel-ratio: 1)"
          rel="apple-touch-startup-image">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="#popscope">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/static/images/app/chrome-touch-icon-192x192.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/static/images/app/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

   <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.blue-lime.min.css" />
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   {% block head %}
   {% endblock head %}
  </head>
  <body>
    {% block main %}
    {% endblock %}
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/main.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>